<div class="banner-villa">
  <%= image_tag "https://res.cloudinary.com/datbhgbcq/image/upload/c_scale,h_1000/v1591265671/villa-alicia-6_vuwl1h.webp" %>
  <div class="add-to-favorite">
    <button class="btn house-wishlist__btn btn-sm btn-light" style="font-weight: lighter;"><i class="far fa-heart" style="padding-right: 10px;"></i> Ajouter aux favoris</button>
  </div>
</div>



<div class="container spacer">
  <h2><%= @villa.name %></h2>
</div>


<%= simple_form_for([@villa, @booking]) do |f| %>
  <%= f.input :starts_on, as: :string, label: "Dates", placeholder: "Date d'arrivée", wrapper_html: { class: "inline_field_wrapper" } %>
  <%= f.input :ends_on, as: :string, label: '&nbsp;'.html_safe, placeholder: "Date de départ", wrapper_html: { class: "inline_field_wrapper" } %>
  <%= f.submit "Réserver", class: "btn btn-primary btn-lg btn-block btn-booking" %>
<% end %>
