<div class="default-layout__content">
  <div class="house-slug__container">
    <div class="house-heading__container">
      <div class="house-heading__pictures">
        <div class="house-carousel">
          <%= image_tag "https://res.cloudinary.com/datbhgbcq/image/upload/v1591265093/villa-alicia-5_qqvmco.webp", class: "house-carousel__fullscreen-img" %>
          <div class="container">
            <div class="row">
              <div class="house-carousel__btn-container">
                <button class="btn house-wishlist__btn btn-sm btn-light">
                  <i class="far fa-heart" style="padding-right: 10px;"></i>
                  Ajouter aux favoris
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="house-heading__title container mt-2">
        <div class="row">
          <div class="col-24">
            <h2 class="house-title__title"><%= @villa.name %></h1>
            <p style="font-size: 24px"><%= @villa.city %></p>
            <div>
              <!-- <button class="btn house-wishlist__btn btn-sm house-title__button--wishlist btn-light">
                <i class="far fa-heart" style="padding-right: 10px;"></i> Ajouter aux favoris</button>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-between">
        <div class="house-detail col-lg-15 col-24">
          <div>
            <div class="tag house-details__tag icn-show">
              <i class="fas fa-user-friends"><span class="tag__text"> 10</span></i>
            </div>
            <div class="tag house-details__tag icn-show">
              <i class="fas fa-bed"><span class="tag__text"> 5</span></i>
            </div>
            <div class="tag house-details__tag icn-show">
              <i class="fas fa-bath"><span class="tag__text"> 5</span></i>
            </div>
          </div>
          <div class="house-detail_booking-description">
            <div class="house-detail_booking-block">

            </div>
            <div class="house-description mr-4">
              <div class="house-description__container position-relative" style="overflow: visible;">
                <i class="fas fa-quote-left"></i>
                <p class="text-align-justify" style="padding-top: 10px; padding-left: 10px;"><%= @villa.description %></p>
                <i class="fas fa-quote-right position-absolute" style="right:-5px;"></i>
              </div>
              <!-- <button class="btn house-description__more-button btn-link">
                <span>Lire toute la description</span>
                <div class="collapse-arrow"></div>
              </button> -->
              <hr class="house-detail__divider">
            </div>
          </div>
          <div>
            <h4>Equipements</h4>
            <div class="row">
              <div class="col-sm-12 col-24">
                <div class="tag tag-list__tag">
                  <i class="fas fa-glass-martini-alt"></i>
                  <span class="tag__text">Bar extérieur</span>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 col-24">
                <div class="tag tag-list__tag">
                  <i class="fas fa-swimming-pool"></i>
                  <span class="tag__text">Piscine chauffée</span>
                  </span>
                </div>
              </div>
              <div class="col-sm-12 col-24">
                <div class="tag tag-list__tag">
                  <i class="fas fa-umbrella-beach"></i>
                  <span class="tag__text">Plage accessible à pied</span>
                  </span>
                </div>
              </div>
            </div>
            <hr class="house-detail__divider mr-4">
            <div>
              <h4>Services inclus</h4>
              <div class="house-services__frame mr-4">
                <div class="row">
                  <div class="col-sm-12 col-24">
                    <div class="tag tag-list__tag">
                      <i class="fas fa-hand-sparkles"></i>
                      <span class="tag__text">Ménage</span>
                    </div>
                  </div>
                  <div class="col-sm-12 col-24">
                    <i class="fas fa-cookie-bite"></i>
                    <span class="tag__text">Chef cuisinier</span>
                  </div>
                  <div class="col-sm-12 col-24">
                    <i class="fas fa-hands-helping"></i>
                    <span class="tag__text">Conciergerie</span>
                  </div>
                </div>
              </div>
            </div>
            <hr class="house-detail__divider mr-4">
            <div class="house-surroudning">
              <h4 class="house-surrending__title">Les alentours</h4>
              <p class="house-surrounding__text"></p>
              <div class="house-surrounding__setting">
                <div class="row">
                  <div class="col-sm-12 col-24">
                    <div class="tag tag-list__tag">
                      <span class="tag__icon icn icn-panoramic-mountain"></span>
                      <span class="tag__text">Vue montagne</span>
                    </div>
                  </div>
                  <div class="col-sm-12 col-24">
                    <div class="tag tag-list__tag">
                      <span class="tag__icon icn icn-panoramic-mountain"></span>
                      <span class="tag__text">Vue mer</span>
                    </div>
                  </div>
                </div>
                <%= image_tag "https://res.cloudinary.com/datbhgbcq/image/upload/v1591439753/map-villa_rtnsgg.png", class: "house-surroundings__maps" %>

                <div>
                  <div class="house-surroungings__group">
                    <h6 class="house-surroundings_subtitle">A proximité</h6>
                    <div class="row">
                      <div class="col-sm12 col-24">
                        Commerces accessibles en voiture
                      </div>
                      <div class="col-sm12 col-24">
                        Plages accessibles à pied
                      </div>
                      <div class="col-sm12 col-24">
                        Restaurants et bars accessible à pied
                      </div>
                      <div class="col-sm12 col-24">
                        Centre ville accessible en voiture
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <!-- <div class="sticky-bottom house-inquiry__sticky-bottom">
            <div class="mobile-inquiry mobile-inquiry--row">
              <div class="mobile-inquiry__house-price">
                <p class="mobile-inquiry__price">A partir de <%= @villa.price_per_day %> € /nuit</p>
              </div>
              <button class="btn mobile-inquiry__booking-button btn-secondary btn-block">
                Demande de réservation
              </button>
            </div>
          </div> -->
          <div class="sticky-right house-inquiry__sticky-right">
            <div id="inquiry" class="inquiry-block">
              <div>
                <div class="row">
                  <div class="col">
                    <h5 class="inquiry-date-picker__title">
                      <%= @villa.name %>
                    </h5>
                    <p class="inquiry-date-picker__price-from">
                      A partir de <%= @villa.price_per_day %> € /nuit
                    </p>
                  </div>
                </div>
                <div class="widget-content position-relative" data-unavailable="<%= @villa.unavailable_dates_bis.to_json %>">
                <%= simple_form_for [@villa, @booking] do |f| %>
                  <%= f.input :starts_on, as: :string, placeholder: "Date d'arrivée", label: false, input_html: { class: "form-control bg-white", id:'booking_start_date_bis' } %>
                  <%= f.input :ends_on, as: :string, placeholder: "Date de départ", label: false, input_html: { class: "form-control bg-white", id:'booking_end_date_bis' } %>
                  <p id="night_nb"><strong>Total :</strong></p>
                  <p id="total_price" data-ppd = "<%=@villa.price_per_day%>"class="position-absolute" style="right:10px; top: 91px;"><strong>Prix</strong></p>
                  <%= f.button :submit, "Réserver maintenant !", class: "btn-book btn-secondary btn-block", data: { target: "#exampleModalCenter", toggle: "modal" } %>
                <% end %>
                <div class="inquiry-date-picker__contact">
                  <p>Ou contactez-nous</p>
                  <a href="#" class="inquiry-date-picker__phone">
                  01.45.44.43.42
                  </a>
                </div>
                <hr class="inquiry-date-picker__divider">
                <div class="inquiry-reassurance text-align-justify">
                   Nous sommes toujours à la recherche de la villa parfaite, pour vous proposer la meilleure expérience possible. Le service inclus est entièrement sur-mesure pour que vous repartiez avec des souvenirs mémorables.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation de la réservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nous sommes ravis que vous ayez pu trouver la villa de vos rêves!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
