
<div class="container">
  <h1 class="fav_title">Mes Favoris</h1>
  <div class="row">
    <%@favorites.each do |favoris| %>
      <div class="col-lg-6 col-24">
        <div class="card">
          <%= link_to villa_path(favoris.villa) do %>
          <% image_url = favoris.villa.img_url.present? ? favoris.villa.img_url : "https://res.cloudinary.com/datbhgbcq/image/upload/v1591214712/villa-alicia_vqrvhj.webp" %>
            <div class="card-img" style="background-image: url('<%= image_url %>');">
            </div>
          <% end %>
          <div class="card-infos">
            <h2><%= favoris.villa.name %></h2>
            <p><%= favoris.villa.city %></p>
            <p>A partir de <%= favoris.villa.price_per_day %>€ /nuit</p>
          </div>
          <div class="card-tag">
            <div class="card-icon">
              <div class="icn">
                <i class="fas fa-user-friends"><span class="tag__text"> <%= favoris.villa.feature.guest_nb %></span></i>
                <i class="fas fa-bed"><span class="tag__text"> <%= favoris.villa.feature.bedroom_nb %></span></i>
                <i class="fas fa-bath"><span class="tag__text"> <%= villa.feature.bathroom_nb %></span></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
