<div class="container">
  <h1 class="fav_title">Mes Favoris</h1>
  <div class="row">
    <%@favorites.each do |favoris| %>
      <div class="col-lg-6 col-24">
        <div class="card">
          <%= link_to villa_path(favoris.villa) do %>
          <div class="card-img" style="background-image: url('<%= favoris.villa.img_url[0] %>');">
          </div>
          <% end %>
          <div class="card-infos position-relative mb-2">
            <h3 class="mt-2 mb-3 montserrat"><%= favoris.villa.name %></h3>
            <h5><%= favoris.villa.city %></h5>
            <h5 class="position-absolute" style="right:16px; bottom:-2px;">A partir de <%= favoris.villa.price_per_day %>€ /nuit</h5>
            <div class="d-flex justify-content-between position-absolute" style="right:20px; top: 31px;">
              <% ratings = favoris.villa.reviews.map{ |review| review["rating"] }  %>
              <% average_rating = (ratings.reduce(:+).to_f / ratings.size).round(0) %>
              <% average_rating.to_i.times do %>
                <i class="fas fa-star checked"></i>
              <% end %>
              <% (5 - average_rating).times do %>
                <i class="far fa-star unchecked"></i>
              <% end %>
            </div>
            <div class="card-tag">
              <div class="card-icon">
                <div class="icn-index">
                  <i class="fas fa-user-friends"><span class="tag__text" style="font-size: 1.5rem;"> <%= favoris.villa.feature.guest_nb %></span></i>
                  <i class="fas fa-bed"><span class="tag__text" style="font-size: 1.5rem;"> <%= favoris.villa.feature.bedroom_nb %></span></i>
                  <i class="fas fa-bath"><span class="tag__text" style="font-size: 1.5rem;"> <%= favoris.villa.feature.bathroom_nb %></span></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
