<div class="default-layout__content">
  <div class="house-slug__container">
    <div class="house-heading__container">
      <div class="house-heading__pictures">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag @booking.villa.img_url[0], class: "house-carousel__fullscreen-img" %>
            </div>
            <div class="carousel-item">
              <%= image_tag @booking.villa.img_url[1], class: "house-carousel__fullscreen-img" %>
            </div>
            <div class="carousel-item">
              <%= image_tag @booking.villa.img_url[2], class: "house-carousel__fullscreen-img" %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="fas fa-angle-left" style="font-size: 5rem;"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="fas fa-angle-right" style="font-size: 5rem;"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
          <div class="container">
            <div class="row">
              <div class="house-carousel__btn-container">
                <button class="btn house-wishlist__btn btn-sm btn-light">
                  <i class="far fa-heart" style="padding-right: 10px;"></i>
                    Ajouter aux favoris
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="house-heading__title container mt-2">
        <div class="row">
          <div class="col-24">
            <h2 class="house-title__title"><%= @booking.villa.name %></h1>
            <p style="font-size: 24px"><%= @booking.villa.city %></p>
            <div>
              <!-- <button class="btn house-wishlist__btn btn-sm house-title__button--wishlist btn-light">
                <i class="far fa-heart" style="padding-right: 10px;"></i> Ajouter aux favoris</button>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-between">
        <div class="house-detail col-lg-15 col-24">
          <div>
            <div class="tag house-details__tag icn-show">
              <i class="fas fa-user-friends"><span class="tag__text" style="font-size: 1.5rem;"> <%= @booking.villa.feature.guest_nb %></span></i>
            </div>
            <div class="tag house-details__tag icn-show">
              <i class="fas fa-bed"><span class="tag__text" style="font-size: 1.5rem;"> <%= @booking.villa.feature.bedroom_nb %></span></i>
            </div>
            <div class="tag house-details__tag icn-show">
              <i class="fas fa-bath"><span class="tag__text" style="font-size: 1.5rem;"> <%= @booking.villa.feature.bathroom_nb %></span></i>
            </div>
          </div>
          <div class="house-detail_booking-description">
            <div class="house-detail_booking-block">

            </div>
            <div class="house-description mr-4">
              <div class="house-description__container position-relative" style="overflow: visible;">
                <i class="fas fa-quote-left" style="font-size: 2rem; color: #e4c478"></i>
                <p class="text-align-justify" style="padding-top: 10px; padding-left: 10px; font-style: italic; font-size: 1rem;"><%= @booking.villa.description %></p>
                <i class="fas fa-quote-right position-absolute" style="right:-5px;font-size: 2rem; color: #e4c478"></i>
              </div>
              <!-- <button class="btn house-description__more-button btn-link">
                <span>Lire toute la description</span>
                <div class="collapse-arrow"></div>
              </button> -->
              <hr class="house-detail__divider">
            </div>
          </div>
          <div>
            <h4>Equipements</h4>
            <div class="house-services__frame mr-4">
              <div class="row">
                <div class="col-sm-12 col-24">
                  <div class="tag tag-list__tag">
                    <i class="fas fa-glass-martini-alt mb-3"></i>
                    <span class="tag__text">Bar extérieur</span>
                    </span>
                  </div>
                </div>
                <div class="col-sm-12 col-24">
                  <div class="tag tag-list__tag">
                    <i class="fas fa-swimming-pool"></i>
                    <span class="tag__text">Piscine chauffée</span>
                    </span>
                  </div>
                </div>
                <div class="col-sm-12 col-24">
                  <div class="tag tag-list__tag">
                    <i class="fas fa-umbrella-beach"></i>
                    <span class="tag__text">Plage accessible à pied</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <hr class="house-detail__divider mr-4">
            <div>
              <h4>Services inclus</h4>
              <div class="house-services__frame mr-4">
                <div class="row">
                  <div class="col-sm-12 col-24">
                    <div class="tag tag-list__tag">
                      <i class="fas fa-hand-sparkles mb-3"></i>
                      <span class="tag__text">Ménage</span>
                    </div>
                  </div>
                  <div class="col-sm-12 col-24">
                    <div class="tag tag-list__tag">
                      <i class="fas fa-cookie-bite"></i>
                      <span class="tag__text">Chef cuisinier</span>
                    </div>
                  </div>
                  <div class="col-sm-12 col-24">
                    <div class="tag tag-list__tag">
                      <i class="fas fa-hands-helping"></i>
                      <span class="tag__text">Conciergerie</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="house-detail__divider mr-4">
            <div class="house-surroudning">
              <h4 class="house-surrending__title">Les alentours</h4>
              <p class="house-surrounding__text"></p>
              <div class="house-surrounding__setting">
                <div id="map"
                     class="house-surroundings__maps"
                     data-markers="<%= @markers.to_json %>"
                     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
                </div>
                <div>
                  <div class="house-surroungings__group">
                    <h5 class="house-surroundings_subtitle">A proximité</h5>
                    <div class="row">
                      <div class="col-sm-12 col-24 mb-2">
                        Commerces accessibles en voiture
                      </div>
                      <div class="col-sm-12 col-24">
                        Plages accessibles à pied
                      </div>
                      <div class="col-sm-12 col-24">
                        Restaurants et bars accessible à pied
                      </div>
                      <div class="col-sm-12 col-24">
                        Centre ville accessible en voiture
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <hr class="house-detail__divider mr-4">
              <div class="house-reviews__title">
                <h4>Ils ont aimé cette villa</h4>
              </div>
              <div class="house-reviews__text">
              </div>
              <div class="base-review house-reviews-container">
                <ul>
                  <% @booking.villa.reviews.order("created_at DESC").each do |review| %>
                  <div class="base-review-container mb-4">
                     <div class="base-review__title">
                       <li class="list-group montserrat" style="font-size: 1.25rem;"><%= review.title %></li>
                     </div>
                      <li class="list-group italic">" <%= review.content %> "</li>
                    <div class="base-review__footer">
                      <li class="list-group"><%= review.user[:pseudo] %></li>
                      <div class="icn__rating">
                        <% review.rating.to_i.times do %>
                         <i class="fas fa-star checked"></i>
                        <% end %>
                        <% (5 - review.rating).times do %>
                         <i class="far fa-star unchecked"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <% end %>
                </ul>
                  <div class="carousel-item">
                    <%= image_tag "https://res.cloudinary.com/datbhgbcq/image/upload/v1591265093/villa-alicia-5_qqvmco.webp", class: "house-carousel__fullscreen-img" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="sticky-right house-inquiry__sticky-right">
            <div id="inquiry" class="inquiry-block">
              <div>
                <div class="row">
                  <div class="col">
                    <h5 class="inquiry-date-picker__title">
                      <%= @booking.villa.name %>
                    </h5>
                    <p class="inquiry-date-picker__price-from">
                      A partir de <%= @booking.villa.price_per_day %> € /nuit
                    </p>
                    <hr class="inquiry-date-picker__divider">
                    <h5 class="mb-4">
                      Votre réservation
                    </h5>
                    <h5><%="Arrivée :  #{@booking.starts_on.strftime("%d/%m/%Y")} à 15:00" %></h5>
                    <h5><%="Départ :  #{@booking.ends_on.strftime("%d/%m/%Y")} à 11:00" %></h5>
                    <p class="my-4">Coût total : <%= number_with_delimiter((@booking.ends_on - @booking.starts_on).to_i * @booking.villa.price_per_day, :delimiter => ' ') %>€</p>
                    <a href="#" class="inquiry-date-picker__phone">
                    Contactez le propriétaire
                    </a>
                  </div>
                </div>
                <hr class="inquiry-date-picker__divider">
                <div class="inquiry-date-picker__contact mb-3">
                  <% if @booking.villa.reviews.find_by(user: current_user) %>
                    <button type="button" disabled=true id="btn-review" class="btn-book btn-secondary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                      Laisser un commentaire
                    </button>
                  <% else %>
                    <button type="button" id="btn-review" class="btn-book btn-secondary btn-block" data-toggle="modal" data-target="#exampleModalCenter">
                      Laisser un commentaire
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Laisser un commentaire</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= simple_form_for [@booking.villa, @review] do |f| %>
            <%= f.input :rating, label: "Donnez une note entre 1 à 5" %>
            <%= f.input :title, label:"Donnez un titre à votre commentaire" %>
            <%= f.input :content, as: :text, label: "Ecrivez votre commentaire", input_html: { rows: 5 } %>
      </div>
      <div class="modal-footer">
            <%= f.button :submit, "Enregistrer", class: "btn btn-secondary" %>
          <% end %>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>
