<%= render 'shared/navbar' %>


<div id="header" class="carousel slide" data-ride="carousel" data-keyboard="false">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "homepage/header-bg-1.jpg", class: "img-carousel" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "homepage/header-bg-2.jpg", class: "img-carousel" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "homepage/header-bg-3.jpg", class: "img-carousel" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "homepage/header-bg-4.jpeg", class: "img-carousel" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "homepage/header-bg-5.jpg", class: "img-carousel" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "homepage/header-bg-6.jpg", class: "img-carousel" %>
    </div>
  </div>

</div>

<div class="container">

  <%= simple_form_for :search, url: villas_path, method: "GET", html: { class: 'form-home form-inline' } do |f| %>
    <%= f.input :city, placeholder: "Ville", label: false, input_html: { class: 'input' } %>
    <%= f.input :starts_on, placeholder: "Date d'arrivée", label: false, input_html: { class: 'input', id: 'input-small' } %>
    <%= f.input :ends_on, placeholder: "Date de départ", label: false, input_html: { class: 'input', id: 'input-small' } %>
    <%= f.input :number_of_guests, placeholder: "Voyageurs", label: false, input_html: { class: 'input', id: 'input-small' } %>
    <%= f.button :submit, "Rechercher", class: "btn btn-info p-2" %>
  <% end %>

</div>


<!-- <form id="searchForm">
  <div class="form-row">
    <div class="col-6">
      <input id="location" type="text" class="form-control form-control-lg ap-input" placeholder="Ville" id="autocomplete">
    </div>
    <div class="col">
      <input id="date" type="text" class="form-control form-control-lg" placeholder="Date" style="cursor: pointer;">
    </div>
    <div class="col" id="number-guests">
      <a class="toggle-button">Voyageurs</a>
        <ul id="numberGuests" style="display: none">
          <li><input type="number" class="form-control form-control-lg" placeholder="Adultes" min="1" max="20"></li>
          <li><input type="number" class="form-control form-control-lg" placeholder="Enfants" min="0" max="5"></li>
        </ul>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Rechercher</button>
</form> -->

<section class="page-section bg-light" id="villas">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-container">Nos sublimes villas</h2>
                    <h3 class="section-subheading text-muted">Découvrez nos magnifiques villas</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="villas-item">
                            <a class="villas-link" href="#"> <!-- mettre le lien des villas-->
                              <div class="villas-hover">
                                    <div class="villas-hover-content"></div>
                                </div>
                                <%= image_tag "homepage/01.jpg", class: "img-fluid" %>
                               </a>
                            <div class="villas-caption">
                                <div class="villas-caption-heading">Villa des quelque chose</div>
                                <div class="villas-caption-subheading text-muted">nom de la ville</div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="villas-item">
                          <a class="villas-link" href="#"> <!-- mettre le lien des villas-->
                                <div class="villas-hover">
                                    <div class="villas-hover-content"></div>
                                </div>
                                <%= image_tag "homepage/02.jpg", class: "img-fluid" %>
                              </a>
                            <div class="villas-caption">
                                <div class="villas-caption-heading">Villa des quelque chose</div>
                                <div class="villas-caption-subheading text-muted">nom de la ville</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="villas-item">
                            <a class="villas-link" data-toggle="modal" href="#"> <!-- mettre le lien des villas-->
                                <div class="villas-hover">
                                    <div class="villas-hover-content"></div>
                                </div>
                                <%= image_tag "homepage/03.jpg", class: "img-fluid" %>
                            <div class="villas-caption">
                                <div class="villas-caption-heading">Villa des quelque chose</div>
                                <div class="villas-caption-subheading text-muted">nom de la ville</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <div class="villas-item">
                            <a class="villas-link" data-toggle="modal" href="#"> <!-- mettre le lien des villas-->
                                <div class="villas-hover">
                                    <div class="villas-hover-content"></div>
                                </div>
                                <%= image_tag "homepage/04.jpg", class: "img-fluid" %></a>
                            <div class="villas-caption">
                                <div class="villas-caption-heading">Villa des quelque chose</div>
                                <div class="villas-caption-subheading text-muted">nom de la ville</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <div class="villas-item">
                            <a class="villas-link" data-toggle="modal" href="#"> <!-- mettre le lien des villas-->
                                <div class="villas-hover">
                                    <div class="villas-hover-content"></div>
                                </div>
                                <%= image_tag "homepage/05.jpg", class: "img-fluid" %></a>
                            <div class="villas-caption">
                                <div class="villas-caption-heading">Villa des quelque chose</div>
                                <div class="villas-caption-subheading text-muted">nom de la ville</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="villas-item">
                            <a class="villas-link" data-toggle="modal" href="#"> <!-- mettre le lien des villas-->
                                <div class="villas-hover">
                                    <div class="villas-hover-content"></div>
                                </div>
                                <%= image_tag "homepage/06.jpg", class: "img-fluid" %></a>
                            <div class="villas-caption">
                                <div class="villas-caption-heading">Villa des quelque chose</div>
                                <div class="villas-caption-subheading text-muted">nom de la ville</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
