<!DOCTYPE html>
<html>
  <head>
    <title>Rbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="bg-white">

    <!-- bouton d'essai pour sign_in/logout, à intégrer dans la navbar -->
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <%= t ".sign_out", default: "Log out" %>
      <% end %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path  %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
